<h1 class="title">Board Game Tracker</h1>

<h3 class="list_title">All Games</h3>
  <div>
    <% @games.each do |game| %>
    	<div class="container">
        <div class="game_list_container">
          <div class="vote_container">
            <%= button_to '', game_up_path(game), {class: 'materials-icons up'} %>
            <p class="vote_counts"><%= game.tally %></p>
            <%= button_to '', game_down_path(game), {class: 'materials-icons down'} %>
          </div>
          <div class="game_content_container">
            <%= link_to game.name, game_path(game) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<ul>
<% @games.each do |game| %>
	<li> <%= link_to game.name, game_path(game) %>
        <%= image_tag game.thumbnail %> </li>
<% end %>
</ul>
